<template>
    <form id="postForm" @submit.prevent="submitForm">
        <!-- <input type="hidden" name="_method" :value="method"> -->
        <div v-if="error" class="bg-danger">An error occurred.</div>
        <div v-if="success" class="bg-success">Submission successful!</div>
        <!-- <input type="hidden" name="_token" :value="_token"> -->
        <div class="form-group">
            <input placeholder="Enter title here" type="text" name= "title" v-model="title" class="form-control" />
        </div>
        <div class="form-group">
            <textarea name="body" v-model="body" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <select name="user_id" v-model="user_id" class="form-control">
                <option v-for="user in users" :key="user.id" :value="user.id">{{ user.name }}</option>
            </select>
        </div>
        <input type="submit" class="btn btn-default" value="Submit" />
    </form>
</template>

<script>
export default {
    name: 'AjaxForm',
    computed: {
        'url' () {
            let { post_id } = this
            return post_id === null ? '/addPost' : `/editPost/${post_id}`
        },
        'method' () {
            let { post_id } = this
            return post_id === null ? 'post': 'put'
        }
    },
    data () {
        return {
            'title': this._title,
            'body': this._body,
            'user_id': this._user_id,
            'post_id': this._post_id,
            'users': this._users,
            'success': false,
            'error': false
        }
    },
    methods: {
        submitForm () {
            let { url, title, body, user_id, post_id, method } = this
            axios[method](url, {
                title,
                body,
                user_id,
                id: post_id            
            }).then((response) => {
                this.success = true
                // console.log('success', response)
                window.setTimeout(() => this.success = false, 3000)
            }).catch((error) => {
                this.error = true
                // console.log('failed', error)
                window.setTimeout(() => this.error = false, 3000)
            })
        }
    },
    props: {
        _users: {
            type: Array,
            default () {
                return []
            }
        },
        _title: {
            type: String,
            default: ''
        },
        _body: {
            type: String,
            default: ''
        },
        _user_id: {
            type: String,
            default: null
        },
        _post_id: {
            type: String,
            default: null
        }
    }
}
</script>

<style>
</style>
